@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="">
    <table width="100%">
        <tr align="center">
            <th>
                <h1>Sistema de control de plagas</h1>
            </th>
        </tr>
        <tr align="center">
            <th ><h2>Food Defense</h2></th>
        </tr>
        <tr align="center">
            <th ><h4>The intelligent choice</h4></th>
        </tr>

    </table>

</div>

